@font-face {
    font-family: IceLand;
    src: url('../assets/fonts/Iceland-Regular.ttf');
  }
body{
    font-family: IceLand, cursive;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
}